#*.bit
*.txt
*.log
*.jou
*.xpr
*.tcl
*.cache
*.hw
*.ip_user_files
*.runs
*.swp
*.mcs
*.prm
*.btree
*.str
.Xil
bitstream
par
project
synthesize
syn/kintex7/rd53_ohio_4x4_640Mbps/tef1001_R2/Makefile
syn/kintex7/rd53_ohio_4x4_640Mbps/board_pkg.vhd
